@font-face {
  font-family: "iconfont"; /* Project id 4516165 */
  src: url('./iconfont.woff2?t=1713637664995') format('woff2'),
       url('./iconfont.woff?t=1713637664995') format('woff'),
       url('./iconfont.ttf?t=1713637664995') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e641";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-quanxian:before {
  content: "\e612";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-yidongwenjian:before {
  content: "\e60f";
}

.icon-xinjian:before {
  content: "\e66c";
}

.icon-wenjian:before {
  content: "\e686";
}

.icon-fenxiang_2:before {
  content: "\e600";
}

.icon-tianjiarenyuan:before {
  content: "\e62c";
}

.icon-gengduo:before {
  content: "\e63f";
}

.icon-shanchu:before {
  content: "\e601";
}

.icon-zhongmingming:before {
  content: "\e626";
}

